{% extends 'base.html.twig' %}

{% block title %}MH | StudyMge{% endblock %}

{% block body %}
<h1 class="text-center pt-5">le contenue du chapitre {{chapitre.nom}}</h1>
<h5 class="text-center p-2">cliquer sur le champs qui vou s'interess !</h5>

<div class="container">
    <div class="row">
    
            <div class="col-4">
                <div class="alert alert-dismissible alert-info text-center">
                    <h4>Cours<h4/>
                </div>
                 <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Cours</th>
                        <th scope="col">Résumé</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for cours in courses %}
                        <tr class="table-success">
                        <td><a href="/assets/images/{{cours.courseFile}}">{{cours.courseFile}}</a> </td>
                        <td>
                        <a href="/assets/images/{{cours.resume}}">{{cours.resume}}</a>
                         </td>
                        </tr>
                    {% endfor %}
                        
                     </tbody>
                </table>
            </div> 

            <div class="col-4">
                <div class="alert alert-dismissible alert-info text-center">
                    <h4>TD<h4/>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">TD</th>
                        <th scope="col">Correction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for td in tds %}
                            <tr class="table-success">
                            <td><a href="/assets/images/{{td.fdFile}}">{{td.fdFile}}</a> </td>
                            <td><a href="/assets/images/{{td.correction}}">{{td.correction}}</a> </td>
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>

            <div class="col-4">
                <div class="alert alert-dismissible alert-info text-center">
                    <h4>TP<h4/>
                </div>
                 <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">TP</th>
                        <th scope="col">Correction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tp in tps %}
                            <tr class="table-success">
                            <td><a href="/assets/images/{{tp.tpFile}}">{{tp.tpFile}}</a> </td>
                            <td><a href="/assets/images/{{tp.correction}}">{{tp.correction}}</a> </td>
                            </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>   

    </div>
</div>

{% endblock %}